@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Code:wght@300;400&family=Shadows+Into+Light&family=Syne+Mono&display=swap');

:root {
    --font1:'Abril Fatface', cursive;
    --font2:'Fira Code', monospace;
    --font3: 'Shadows Into Light', cursive;
    --font4: 'Syne Mono', monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font2);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font4);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 50px;
    line-height: 2em;
    text-align: justify;
    font-family: var(--font4);
    font-size: 1.4em;
}

section > p {
    padding-bottom: 2.5em;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rosybrown;
    color: white;
    box-shadow: inset  6px 6px 13px 0px rgba(0, 0, 0, 0.445);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.342);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../projeto-cordel/imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../projeto-cordel/imagens/background002.jpg');
    background-position: right center;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}